<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="member">
 	<insert id="insert_data" parameterType="kr.hs.study.dto.memberDTO">
 	   insert into tbl_member(userid,upw,uname,uemail) values(#{userid},#{upw},#{uname},#{uemail})
 	</insert>
 	<select id="select_data" resultType="kr.hs.study.dto.memberDTO">
 	select * from tbl_member order by userid
 	</select>
 	<select id="read" resultType="kr.hs.study.dto.memberDTO">
 	select * from tbl_member where userid=#{userid}
 	</select>
 	<update id="update_data" parameterType="kr.hs.study.dto.memberDTO">
 	update tbl_member set uname=#{uname}, uemail=#{uemail} where userid=#{userid}
 	</update>
 	<delete id="delete_data" parameterType="kr.hs.study.dto.memberDTO">
 	delete from tbl_member where userid=#{userid}
 	</delete>
 </mapper>       