<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="test">
 <insert id="insert_data" parameterType="kr.hs.study.model.Databean">
 insert into test values(#{data1}, #{data2})
 </insert>
 
  <select id="select_data" resultType="kr.hs.study.model.Databean">
  select * from test
 </select>
</mapper>       