<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop.xsd">
	                    
    <bean id = "t1" class = "kr.hs.study.beans.TestBean">
    	<property name="data1" value="10"/>
    	<property name="data2" value="20.22"/>
    	<property name="data3" value="true"/>
    	<property name="data4" value="string"/>
    </bean>
    
    <bean id = "d1" class = "kr.hs.study.beans.DataBean"/>
    <bean id = "t2" class = "kr.hs.study.beans.TestBean2">
    	<property name="data1" ref="d1"/>
    	<property name="data2" ref="d1"/>
    </bean>
</beans>